if SHIELD_BISMUTH_LEFT

config ZMK_KEYBOARD_NAME
    default "Bismuth"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BISMUTH_LEFT || SHIELD_BISMUTH_RIGHT

config ZMK_SPLIT
    default y

endif
